<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>About Me</title>
  </head>
  <body>
    <div class="whole-page-container">
      <div class="header-nav-bar">
        <a href="/">
          <h8>Home</h8>
        </a>
        <a href="/aboutme">
          <h8>About Me</h8>
        </a>
        <a href="/projects">
          <h8>Projects</h8>
        </a>
        <a href="/contact">
          <h8>Contact</h8>
        </a>
      </div>
      <div class="content-spacer"></div>
      <div class="title"><h1>Welcome to the About me</h1></div>
      <div class="content-spacer"></div>
      <div class="photo-paragraph-container">
        <img
          src="/photos/ResumeHeadshotAssets/headshotphoto.jpg"
          alt="Elijah's Headshot photo"
          class="headshot-photo"
        />
        <p class="paragraph">
          Hi, I’m Elijah Baptiste, a Computer Science student at the University
          of Southern California and a Thrive Scholar from Boston,
          Massachusetts. I’m passionate about exploring the intersections of AI,
          software development, and game design, and I love using side projects
          as a way to dive into new technologies and teach myself new skills.
          From building interactive games in Unity and Godot, to experimenting
          with new programming languages, to testing how AI can enhance
          creativity, I’m always looking for ways to stay curious and keep
          learning. Beyond computer science, I’m also an award-winning portrait
          photographer, a craft that has taught me patience, creativity, and an
          eye for detail. As I continue my journey, I’m excited to keep
          building, learning, and creating innovative projects that make a
          positive impact.
        </p>
      </div> 
      <h3>Here are some skills I have and technologies, I am familiar with</h3>
      <div class="skills-section">
        <div class="skill">
          <img
            id="python"
            src="/photos/Icons/python_5968350.png"
            alt="Python Logo"
            class="skill-logo"
          />
          <label for="python">Python</label>
        </div>

        <div class="skill">
          <img
            id="c"
            src="/photos/Icons/c_5968228.png"
            alt="Python Logo"
            class="skill-logo"
          />
          <label for="c">C</label>
        </div>

        <div class="skill">
          <img
            id="c#"
            src="/photos/Icons/c-sharp_6132221.png"
            alt="Python Logo"
            class="skill-logo"
          />
          <label for="c#">C#</label>
        </div>

        <div class="skill">
          <img
            id="c++"
            src="/photos/Icons/c_6132222.png"
            alt="Python Logo"
            class="skill-logo"
          />
          <label for="c++">C++</label>
        </div>

        <div class="skill">
          <img
            id="java"
            src="/photos/Icons/java_5968282.png"
            alt="Python Logo"
            class="skill-logo"
          />
          <label for="java">Java</label>
        </div>

        <div class="skill">
          <img
            id="html"
            src="/photos/Icons/html-5_5968267.png"
            alt="Python Logo"
            class="skill-logo"
          />
          <label for="html">HTML</label>
        </div>

        <div class="skill">
          <img
            id="css"
            src="/photos/Icons/css-3_5968242.png"
            alt="Python Logo"
            class="skill-logo"
          />
          <label for="css">CSS</label>
        </div>

        <div class="skill">
          <img
            id="javascript"
            src="/photos/Icons/js_5968292.png"
            alt="Python Logo"
            class="skill-logo"
          />
          <label for="javascript">Javascript</label>
        </div>

        <div class="skill">
          <img
            id="mysql"
            src="/photos/Icons/mysql_5968313.png"
            alt="Python Logo"
            class="skill-logo"
          />
          <label for="mysql">Mysql</label>
        </div>

        <div class="skill">
          <img
            id="nodejs"
            src="/photos/Icons/node-js_5968322.png"
            alt="Python Logo"
            class="skill-logo"
          />
          <label for="nodejs">NodeJs</label>
        </div>
      </div>
    </div>
  </body>
</html>
