<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>Contact Me</title>
  </head>
  <body>
    <div class="whole-page-container">
      <div class="header-nav-bar">
        <a href="/">
          <h8>Home</h8>
        </a>
        <a href="/aboutme">
          <h8>About Me</h8>
        </a>
        <a href="/projects">
          <h8>Projects</h8>
        </a>
        <a href="/contact">
          <h8>Contact</h8>
        </a>
      </div>
      <div class="content-spacer"></div>
      <h1>Welcome to the contact page</h1>

      <div class="contact-form-container">
        <form action="/send" method="post" class="contact-form">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required />

          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />

          <label for="message">Message:</label>
          <textarea id="message" name="message" rows="10" required></textarea>

          <button type="submit">Send Message</button>
        </form>
    </div>

  </body>
</html>
