<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>Elijah Baptiste</title>
  </head>
  <body>
    <div class="whole-page-container">
      <div class="header-nav-bar">
        <a href="/">
          <h8>Home</h8>
        </a>
        <a href="/aboutme">
          <h8>About Me</h8>
        </a>
        <a href="/projects">
          <h8>Projects</h8>
        </a>
        <a href="/contact">
          <h8>Contact</h8>
        </a>
      </div>
      <div class="content-spacer"></div>
      <h1>Welcome to the main page</h1>
<div class="container">
      <div class="name-card-container">
        <img src="/photos/ResumeHeadshotAssets/Headshot-10-shrunk.jpg" class="name-card-photo" />
        <h1 class="name-card">Elijah Baptiste</h1>
        <h3 class="name-card-subtitle">Computer Science Student | Aspiring Software Engineer</h3>
        <div class="social-link-bubbles">
          <a href="/linkedin"><img src="/photos/Icons/linkedin_1051282.png" class="social-icon"/></a >
          <a href="/github"><img src="/photos/Icons/github_1051275.png" class="social-icon"/></a >
          <a href="/email"><img src="/photos/Icons/gmail_2991144.png" class="social-icon"/></a >
      </div>
      </div>
      <div class="resume-viewer">
        <h4 href="/photos/ResumeHeadshotAssets/Elijah_Baptiste_Most_Recent_Resume.pdf" download>Click to download a copy of my most recent resume</h4>
        <a href="/photos/ResumeHeadshotAssets/Elijah_Baptiste_Most_Recent_Resume.pdf" download>
          <img src="/photos/ResumeHeadshotAssets/Elijah_Baptiste_Most_Recent_Resume.jpg" class="resume"/>
        </a>
      </div>
</div>
      
  </body>
</html>
