<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>See My Projects</title>
  </head>
  <body>
    <div class="whole-page-container">
      <div class="header-nav-bar">
        <a href="/">
          <h8>Home</h8>
        </a>
        <a href="/aboutme">
          <h8>About Me</h8>
        </a>
        <a href="/projects">
          <h8>Projects</h8>
        </a>
        <a href="/contact">
          <h8>Contact</h8>
        </a>
      </div>
      <div class="content-spacer"></div>
      <h1>Welcome to my projects</h1>
      <div class="project-card">
        <img src="/photos/FocusRoomAssests/ChatGPT Image Aug 25, 2025, 05_21_23 AM.png" class="project-image"/>
        <h2>Focus Room Music Player</h2>
        <p>
          Focus Room Music Mood Player is an intelligent music platform designed to enhance focus and productivity by selecting music tailored to your current emotional state. 
          Using facial emotion recognition, this application detects how you're feeling and curates Spotify tracks that match or improve your mood, all in real time.
        </p>
        <button class="project-buttons" ><a href="/project1">View Project Here</a></button>
      </div>
       <div class="project-card">
        <img src="/photos/TinyGateAssests/ChatGPT Image Aug 25, 2025, 05_21_12 AM.png" class="project-image"/>
        <h2>TinyGate URL Shortner</h2>
        <p>
          TinyGate is a simple and efficient URL shortener built with Node.js, Express, and MongoDB. 
          This web app allows users to generate shortened URLs and track usage analytics.
        </p>
        <button class="project-buttons" ><a href="/project2">View Project Here</a></button>
      </div>
       <div class="project-card">
        <img src="/photos/RushOfGoldAssests/Dr1L+v.png" class="project-image"/>
        <h2>Rush Of Gold Fighting Game</h2>
        <p>
          Rush of Gold is a 2-Player Platform-Fighting game set on the high seas! Collect the coins that fall from the sky and create moneybags to throw into your barrel. 
          The player who has the most coins in their barrel wins! Attack your opponent to knock them off their ship and into the ocean, causing them to lose coins in the process. 
        </p>
        <button class="project-buttons" ><a href="/project3">View Project Here</a></button>
      </div>
    </div>
  </body>
</html>
